<div class="card">
  <h3>Прогноз погоды</h3>

  <form class="row justify-content-center mt-3" (submit)="onFormSubmit($event)">
    <div class="col-auto city">
        <input class="form-control" type="text" placeholder="введите название города" 
        spellcheck="false" [(ngModel)]="city" name="city" required/>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-light">Поиск</button>
    </div>
   
  </form>

   
    <div class="err" name="error">
        @if(error!==""){
        <p>{{error}}</p>
        }
    </div> 
  @if(error===""){
    <div class="weather">
        <img src="{{icon}}" alt="" class="weather-icon" name="icon"/>
        <h1 name="temp">{{temp}}</h1>
        <h2 name="address">{{address}}</h2>
  
    <div class="details">
        <div class="col-details">
            <img src="humidity.png" alt="humidity" />
  
            <div class="card-details">
                <p class="humidity" name="humidity">{{humidity}}</p>
                <p>Влажность</p>
            </div>
        </div>
  
  
        <div class="col-details">
            <img src="barometer.png" alt="barometer" />
  
            <div class="card-details">
                <p class="pressure" name="pressure">{{pressure}}</p>
                <p>Атмосферное давление</p>
            </div>
        </div>
    </div>
    </div>
  }
 
</div>